body {
	margin: 0;
}

.mainAbout {
	color: white;

}
.mainAbout div {
	margin: 100px;
	margin-top:0px ;
}
.mainAbout h2 {
	text-align: center;
}

.lighter1 {
	background-color: #CAE9CA;
	color: #5B8251;
	height: 250px;
	width: 250px;
	}

.lighter2 {
	background-color: #CAE9CA;
	color: #5B8251;
	height: 270px;
	width: 400px;
	}

.light1 {
	background-color: #C6EB77;
	color: #5B8251 ;
	height: 270px;
	width: 400px;

}

.light2 {
	background-color: #C6EB77;
	color:  #5B8251;
	height: 250px;
	width: 250px;
}

@media (max-width: 861px) {
	.mainAbout div img {
	width: 100%;
}
}