h2 {
	color: white;
	text-align: center;
}

h3 {
	color: #1E281E;
	text-align: center;
}

.formBox {
	background-color: #C6EB77;
	height: 500px;
	border: 8px solid #6C8F20;
	margin: 50px;
	margin-right: 1000px;
	position: relative;
	left: 300px;
}

.formBox input {
	position: relative;
	top: 25px;
	left: 8%;
	margin: 12px;
	padding: 5px;
}

.formBox input {
	width:70% ;
}

.formBox label {
	position: relative;
	left: 25%;
	top: 25px;
}

.formBox span {
	position: relative;
	left: 12%;
	top: 25px;
}

#ageContain input	{
	width: 20px;
}

#cageContain input {
	width: 20px;
}

#fillOut button	{
	position: relative;
	right: 32px;
	bottom: 18px;
}

.containerCheck {
	margin-top: 400px;
	position: relative;
	left: 200px;
	bottom: 600px;
}

.frogNameCheck {
	font-size: 25px;
	color: white;
	font-family:DM serif Display ;
}

.priceCheck {
	font-size: 12px;
	color: white;
	font-family:DM sans ;
}

.discriptionCheck {
	font-size: 12px;
	color: white;
	margin-right: 20%;
	font-family:DM sans ;
}

.cardCheck {
	max-width: 300px;
	margin: 20px auto;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 5px 5px 5px #141614;
}

.cardCheck .imageContainerCheck {
	height: 60px;
}

.imageContainCheck img { 
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.imageContainCheck {
	height: 50px;
}

.textContainCheck {
	padding: 10px;
	min-height: 20px;
	background-color: #274626 ;
	width: 100px;
	height: 100px;
}

.textContainCheck h2 {
	margin: 0;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

.CardContainerCheck {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 120px;
	margin: 0 auto;
}

@media (max-width:1054px ) {
.CardContainerCheck {
	grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width:740px ) {
.CardContainerCheck {
	grid-template-columns: repeat(1, 1fr);
	margin: 0 auto;
}
}

@media (max-width:370px) {
.CardContainerCheck {
	width: 315px;
}
}

@media (min-width:620px) {
	.formBox {
		width: 400px;
		font-size: 12px;
	}
}

@media (max-width:1500px) {
	.formBox {
		left: 100px;
		margin-right: 150px;
	}

	.formBox span {
		left: 5%;
	}

	#ageContain input	{
		width: 10px;
}

	#cageContain input {
		width: 10px;
}
}

@media (max-width:800px) {
	.formBox {
		left: 50px;
	}
}

@media (max-width:650px) {
	.formBox {
		left: 0px;
	}
}

@media(max-width:500px) {
	.formBox {
		width: 315px;
		left: 0;
		right: 0;
		margin-left:15px;
		margin-right: 15px;
	}

	h2 {
		font-size: 15px;
		margin-left: 25px;
		margin-right: 10px;
	}

	#fillOut {
		width: 315px;
	}


}
