section img {
	height: 150px;
	margin: 0 auto;
	position: relative;
	left: 40%;
}

h2 {
	color: white;
	text-align: center;
}

h3 {
	color: #1E281E;
	text-align: center;
}

.formBox {
	background-color: #C6EB77;
	height: 500px;
	border: 8px solid #6C8F20;
	margin: 50px;
	margin-right: 1000px;
	position: relative;
	left: 300px;
}



.formBox input {
	position: relative;
	top: 25px;
	left: 8%;
	margin: 12px;
	padding: 5px;
}

.formBox input {
	width:70% ;
}

.formBox label {
	position: relative;
	left: 25%;
	top: 25px;
}

.formBox span {
	position: relative;
	left: 12%;
	top: 25px;
}

#ageContain input	{
	width: 20px;
}

#cageContain input {
	width: 20px;
}

@media (min-width:620px) {
	.formBox {
		width: 400px;
	}
}

@media (max-width:1500px) {
	.formBox {
		left: 100px;
	}
}

@media (max-width:800px) {
	.formBox {
		left: 50px;
	}
}

@media (max-width:650px) {
	.formBox {
		left: 0px;
	}
}
