nav #logo img{
	height: 300px;
	position: absolute;
	top: 10px;
	left: 177px;
	margin: 0 0px;
	z-index: 12;
}

nav ul {
	margin: 0px 1200px;
	padding: 0;
	display: flex;
    z-index: 10;
}

nav ul li {
	list-style: none;
	z-index: 10;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 69px 30px;
	display: block;
	font-size: 16px;
	z-index: 10;
}

#cartBox {
	height: 10px;
	width: 30px;
	background-color: #619B60;
	z-index: 10;
	border-bottom: 5px solid #619B60;
    border-Top: 5px solid #619B60;
    border-right: 30px solid whitesmoke;
}

.cartCircle {
	border-radius: 10px;
	background-color: whitesmoke;
	z-index: 10;
	border: red solid 2px;
	height: 5px;
	width: 5px;
}

.cartLeftWheel

.cartRightWheel

.cartHandle

.navBoxes {
	margin: 150px;
}

#darkBox {
	background-color: #295728;
  	border: 1px solid #295728;
  	padding: 100px; 
  	width: 55%;
  	height: 10px;
  	position: absolute;
    left: 0px;
    top: 135px;
    z-index: 2;
}

#mediumBox {
	background-color: #6C8F20;
  	border: 1px solid #6C8F20; 
  	padding: 100px; 
  	width: 55%;
  	height: 55px;;
  	position: absolute;
    right: 0px;
    top: 25px;

}

#lightBox {
	background-color: #619B60;
    border: 1px solid #6C8F20; 
    padding: 100px; 
  	width: 60%;
  	height: 10px;;
  	position: absolute;
    left: 15%;
    top: 45px;
    z-index: 3;
}


#darkBox2 {
	background-color: #295728;
  	border: 1px solid #295728;
  	padding: 100px; 
  	width: 55%;
  	height: 10px;
  	position: absolute;
    left: 0px;
   	bottom: 135px;
    z-index: 2;
}

#mediumBox2 {
	background-color: #6C8F20;
  	border: 1px solid #6C8F20; 
  	padding: 100px; 
  	width: 55%;
  	height: 55px;;
  	position: absolute;
    right: 0px;
    bottom: 25px;

}

#lightBox2 {
	background-color: #619B60;
    border: 1px solid #6C8F20; 
    padding: 100px; 
  	width: 60%;
  	height: 10px;;
  	position: absolute;
    left: 15%;
    bottom: 45px;
    z-index: 3;
}